{% load base_extras %}
{% load static %}

<div style="position:fixed; height:350px; width:340px; left:160px; background-color:#232424; border-radius:12px; overflow:hidden; z-index:4;" id="control_box">
  <div style="position: absolute; top: 0; right: 5px; cursor: pointer;" id="close_button">
    <img src="{% static "images/close.gif" %}">
  </div>
  <div style="position:relative; margin:10px;">
    <fieldset>
      <legend>Select In Range</legend>
      <div>
        Start Date: 
        <input type="text" size="12" value="" style="background-color: #303030; border-color: #242323;" id="datepicker" />
        <input type="text" size="6" value="" style="background-color: #303030; border-color: #242323;" id="timepicker" />
      </div>     
      <div style="margin-top:5px;">
        End Date:&nbsp
        <input type="text" size="12" value="" style="background-color: #303030; border-color: #242323;" id="datepicker2" />
        <input type="text" size="6" value="" style="background-color: #303030; border-color: #242323;" id="timepicker2" />
      </div>   
      <div style="margin-top:10px;">
        <input id="select_all" type="button" value="Select All" class="pure-button pure-button-primary" style="font-size:13px;" onclick="selectAll();"/>&nbsp
 	      <input id="de_select_all" type="button" value="De-Select All" class="pure-button pure-button-primary" style="font-size:13px;" onclick="deSelectAll();"/>
      </div>
    </fieldset>
    <br />
    <fieldset>
      <legend>Audio Controls</legend>
      <input id="play_selected" type="button" value="Play Selected" class="pure-button pure-button-primary" style="font-size:13px;" onclick="playSelected();"/>&nbsp
      <input id="stop_selected" type="button" value="Stop" class="pure-button pure-button-primary" style="font-size:13px;" onclick="stopSelected();"/>
    </fieldset>
    <br />
    <fieldset>
      <legend>Search</legend>
      <input type="text" size="14" style="background-color: #303030; border-color: #242323; color: #AAAAAA" id="searchbar" name="searchbar" />
      <input id="find_and_zoom" type="button" value="Find" class="pure-button pure-button-primary" style="font-size:12px;" onclick="zoomAndSelect();" />
    </fieldset>
  </div>
</div>