{% load base_extras %}
{% load static %}



<div id="control_box">
  <div id="close_button" class="close-button" >
    <img src="{% static "images/close.gif" %}">
  </div>
  <div class="box-content">
    <fieldset>
      <legend>Select In Range</legend>
      <div>
        Start Date: 
        <input id="start_date" class="control-box-input" type="text" size="11" value=""/>
        <input id="start_time" class="control-box-input" type="text" size="6" value=""/>
      </div>     
      <div style="margin-top:5px;">
        End Date:&nbsp
        <input id="end_date" class="control-box-input" type="text" size="11" value=""/>
        <input id="end_time" class="control-box-input" type="text" size="6" value=""/>
      </div>   
      <div style="margin-top:10px;">
        <input id="select_all" class="pure-button pure-button-primary button-size" type="button" value="Select All" onclick="selectAll();"/>&nbsp
 	      <input id="de_select_all" class="pure-button pure-button-primary button-size" type="button" value="De-Select All" onclick="deSelectAll();"/>
      </div>
    </fieldset>
    <br />
    <fieldset>
      <legend>Audio Controls</legend>
      <input id="play_selected" class="pure-button pure-button-primary button-size" type="button" value="Play Selected" onclick="playSelected();"/>&nbsp
      <input id="stop_selected" class="pure-button pure-button-primary button-size" type="button" value="Stop Selected" onclick="stopSelected();"/>
    </fieldset>
    <br />
    <fieldset>
      <legend>Search</legend>
      <input id="searchbar" type="text" size="14" name="searchbar" />
      <input type="button" value="Find" class="pure-button pure-button-primary button-size" onclick="findAndZoom();" />
    </fieldset>
  </div>
</div>