
{% load base_extras %}

<div id="menu">
  <div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading" href={% url 'index' %}>MDRS</a>
    
    <ul>
      
      <li>
	{% url 'index' as url %}
	<a href={{ url }}{% if request.path == url %} class="pure-menu-selected"{% endif %}>Home</a>
      </li>
      
      <li>
	{% url 'user' as url %}
	<a href={{ url }}{% if request.path == url %} class="pure-menu-selected"{% endif %}>
    {% if user.is_authenticated %}
    {{ user.username }}
    {% else %}
    User
    {% endif %}
    </a>
      </li>
				
      <li>
	{% url 'submit' as url %}
        <a href={{ url }}{% if request.path == url %} class="pure-menu-selected"{% endif %}>Submit</a>
      </li>
      {% if user.is_authenticated %}
      <li class="menu-item-divided">
	{% url 'logout' as url %}
        <a href={{ url }}{% if request.path == url %} class="pure-menu-selected"{% endif %}>Logout</a>
      </li>

      {% else %}
      
      <li class="menu-item-divided">	
	{% url 'register' as url %}
        <a href={{ url }}{% if request.path == url %} class="pure-menu-selected"{% endif %}>Register</a>
      </li>

      <li>
	{% url 'login' as url %}
        <a href={{ url }}{% if request.path == url %} class="pure-menu-selected"{% endif %}>Login</a>
      </li>
      {% endif %}
      {% url 'index' as url %}
      {% if request.path ==  url %}
      <li><br /></li>
      <li><br /></li>
      <li><br /></li>
      <li class="menu-item-divided" />
      <li>
	<a href="javascript:selectAll();" title="Select All" id="s_all">Select All&nbsp&nbsp&nbsp<b>></b></a> <!-- stackoverflow is the best! -->
      </li>
      <li>
  <a href="javascript:deSelectAll();" title="De-Select All" id="d_all">De-Select All&nbsp&nbsp&nbsp<b>></b></a> <!-- stackoverflow is the best! -->
      </li>
      {% endif %}

    </ul>

  </div>
  
</div>

