
{% load base_extras %}

<div id="menu">
  <div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading" href={% url 'index' %}>MDRS</a>
    
    <ul>
      
      <li>
	{% url 'index' as url %}
	<a href={{ url }}{% if request.path == url %} class="pure-menu-selected"{% endif %}>Home</a>
      </li>
      
      <li>
	{% url 'user' as url %}
	<a href={{ url }}{% if request.path == url %} class="pure-menu-selected"{% endif %}>User</a>
      </li>
				
      <li class="menu-item-divided">
	{% url 'settings' as url %}
        <a href={{ url }}{% if request.path == url %} class="pure-menu-selected"{% endif %}>Settings</a>
      </li>

      {% if user.is_authenticated %}
      <li class="menu-item-divided">
	{% url 'logout' as url %}
        <a href={{ url }}{% if request.path == url %} class="pure-menu-selected"{% endif %}>Logout</a>
      </li>

      {% else %}
      
      <li class="menu-item-divided">	
	{% url 'register' as url %}
        <a href={{ url }}{% if request.path == url %} class="pure-menu-selected"{% endif %}>Register</a>
      </li>

      <li class="menu-item-divided">
	{% url 'login' as url %}
        <a href={{ url }}{% if request.path == url %} class="pure-menu-selected"{% endif %}>Login</a>
      </li>

      {% endif %}
      <li>
	{% url 'submit' as url %}
        <a href={{ url }}{% if request.path == url %} class="pure-menu-selected"{% endif %}>Submit</a>
      </li>

    </ul>

  </div>
  
</div>
