{% load base_extras %}
{% load static %}

<div id="picture_box">
  <div class="close-button" id="picture_close_button">
    <img src="{% static "images/close.gif" %}">
  </div>
  <div id="picture-content">
  	<div id="slides">
    </div>
  </div>
  <div style="position:relative; margin-left:15px; margin-top:15px;">
    <ul class="custom-navigation">
        <li class="custom"><a class="custom-prev" href="#" title="Previous">prev</a></li>
        <li class="custom"><a class="custom-next" href="#" title="Next">next</a></li>
    </ul>
  </div>
 </div>

 <script>
 var slideArray = [];
 slideVersion = 0;
$(function(){

  slideArray[0] = $("<div />")
    .appendTo($("#picture_content"));
  
  $("<img />")
        .attr("src", "http://placehold.it/150x100")
        .appendTo(slideArray[0]);

  slideArray[0].slidesjs({
    width: 150,
    height: 100,
    pagination: {
      active: false
    },
    callback: {
      loaded: function(){
        // hide navigation and pagination
        $('.slidesjs-pagination, .slidesjs-navigation').hide(0); 
      }
    }
  });

  $('.custom-next').click(function(e) {
    e.preventDefault();
    // emulate next click
    $('.slidesjs-next').click();
  });
  $('.custom-prev').click(function(e) {
    e.preventDefault();
    // emulate previous click
    $('.slidesjs-previous').click();
  });
});
</script>