{% load base_extras %}
{% load static %}

<div style="position:fixed; height:220px; width:300px; right:400px; background-color:#232424; border-radius:12px; border-color: #333333; border-style:solid; border-width:2px; overflow:hidden; z-index:4;" id="picture_box">
  <div style="position: absolute; top: 0; right: 5px; cursor: pointer;" id="recording_close_button">
    <img src="{% static "images/close.gif" %}">
  </div>
  <div id="content" style="position:relative; margin:15px;">
  	<div id="slides">
    </div>
    <ul class="custom-navigation">
        <li class="custom"><a class="custom-prev" href="#" title="Previous">prev</a></li>
        <li class="custom"><a class="custom-next" href="#" title="Next">next</a></li>
    </ul>
  </div>
 </div>