<!--
  MDRS - Picture Box allows the viewing of images stored on the server related to a particular recording
  There are custom buttons for next and previous images

  Author - Gordon Adam
-->

{% load base_extras %}
{% load static %}

<div id="picture_box">
  <div class="close-button" id="picture_close_button">
    <img src="{% static "images/close.gif" %}">
  </div>
  <div id="picture-content">
  	<div id="slides">
    </div>
  </div>
  <div style="position:relative; margin-left:15px; margin-top:15px;">
    <ul class="custom-navigation">
        <li class="custom"><a class="custom-prev" href="#" title="Previous">prev</a></li>
        <li class="custom"><a class="custom-next" href="#" title="Next">next</a></li>
    </ul>
  </div>
 </div>