<!--
  MDRS - Recording Box that displays the metadata for a recording. 
  It can play, pause and stop an audio file related to a recording
  There is also an option for opening the picture viewer

  Author - Gordon Adam
-->

{% load base_extras %}
{% load static %}

<div id="recording_box">
  <div id="recording_close_button" class="close-button">
    <img src="{% static "images/close.gif" %}">
  </div>
  <div class="box-content">
  	<h3 id="title">&nbsp</h3>
    <div id="description">
  	 <p id="description-container">&nbsp</p>
    </div>
  	<input id="play" type="button" value="Play" class="pure-button pure-button-primary button-size" onclick="playAudio();"/>
  	<input id="pause" type="button" value="Pause" class="pure-button pure-button-primary button-size" onclick="pauseAudio();" />
  	<input id="stop" type="button" value="Stop" class="pure-button pure-button-primary button-size" onclick="stopAudio();" />
  	<div id="view_pictures" style="margin-top:3px;"></div>
  	<div id="view_timeline" style="margin-top:3px;"></div>
  </div>
 </div>
