<!--
  MDRS - Recording Box that displays the metadata for a recording. 
  It can play, pause and stop an audio file related to a recording
  There is also an option for opening the picture viewer

  Author - Gordon Adam
-->

{% load base_extras %}
{% load static %}

<div id="recording_box">
  <div id="recording_close_button" class="close-button">
    <img src="{% static "images/close.gif" %}">
  </div>
  <div class="box-content">
  	<h3 id="title" style="color:#bbb">&nbsp</h3>
    <div id="description">
  	 <p id="description-container" style="color:#bbb">&nbsp</p>
    </div>
    
  	<button id="play" type="button" class="pure-button pure-button-primary button-size beside" onclick="playAudio();">
      <i class="fa fa-play"></i>
    </button>
  	<button id="pause" type="button" class="pure-button pure-button-primary button-size beside" onclick="pauseAudio();">
      <i class="fa fa-pause"></i>
    </button>
  	<button id="stop" type="button" class="pure-button pure-button-primary button-size beside"  onclick="stopAudio();">
      <i class="fa fa-stop"></i>
    </button>
  	<div id="view_pictures"></div>
  	<div id="view_timeline"></div>
  </div>
 </div>
