{% load base_extras %}
{% load static %}

<div id="recording_box">
  <div style="position: absolute; top: 0; right: 5px; cursor: pointer;" id="recording_close_button">
    <img src="{% static "images/close.gif" %}">
  </div>
  <div id="content" style="position:relative; margin:10px;">
  	<h3 id="title">&nbsp</h3>
  	<p id="description">&nbsp</p>
  	<input id="play" type="button" value="Play" class="pure-button pure-button-primary" style="font-size:13px;" onclick="playAudio();"/>
  	<input id="pause" type="button" value="Pause" class="pure-button pure-button-primary" style="font-size:13px;" onclick="pauseAudio();" />
  	<input id="stop" type="button" value="Stop" class="pure-button pure-button-primary" style="font-size:13px;" onclick="stopAudio();" />
    <div id="pin_link"></div>
  	<div id="view_pictures" style="margin-top:10px;"></div>
  </div>
 </div>