/* MDRS - CSS for slide viewer buttons */
/* Author - Gordon Adam */

.custom-navigation { 
	padding: 0; margin: 0; 
}
.custom { 
	list-style: none; float: left; margin-right: .25em;  
}
.custom { 
	display: block; background: #0078e7; padding: .25em 1em; color: #fff; text-decoration: none; border-radius: 0 0 .25em .25em; font-size:13px;
}
.custom-prev { 
	display: block; background: #0078e7; padding: .25em 1em; color: #fff; text-decoration: none; border-radius: 0 0 .25em .25em; font-size:13px;
}
.custom-next { 
	display: block; background: #0078e7; padding: .25em 1em; color: #fff; text-decoration: none; border-radius: 0 0 .25em .25em; font-size:13px;
}

