.Uinfo {
	width:90%;
	display:block;
	margin-bottom:10px;
	padding:10px;
	background-color:white;
	color:#666;
	font-size:12px;
	text-align:right;
	float:left;
	border: 1px solid #d3d7d9;
	border-radius:12px;

}	

.Ucontainer {
	padding:10px;
	margin-bottom:10px;
	margin-right:5px;
	overflow:scroll;
	background-color:#ebf2f8;
	color:#666; font-size:15px;
	text-align:right;
	float:left;
	position:fixed;
	top: 135px;
	left: 160px;
	border: 1px solid #d3d7d9;
	border-radius:12px;

}


.button {
	display: inline-block;
	float:left;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding: .5em 2em .55em;
	height:30px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

.hline{
	position: fixed; bottom: 10px; right: 10px; height:200px; overflow:hidden;	border: 1px solid #d3d7d9; border-radius:12px;
}
