
/*

	- this file contains the css styling classes for
	the user page and the timeline on the project home page
	
	Author: P. Yordanov (v2)

*/


/*

audio playback using HTML5 tags styling

*/

audio {
	position:absolute;
	width:70%;
	display: block;
	margin-right:5px;

}

.comp {
	float:left;
}


/* user page side panel styling */

.Uinfo {
	width:95%;
	display:block;
	margin-bottom:10px;
	padding:10px;
	background-color:white;
	color:#666;
	font-size:12px;
	text-align:right;
	float:left;
	border: 1px solid #d3d7d9;
	border-radius:12px;

}	

/* user large container class */

.Ucontainer {
	padding:10px;
	display:block;
	overflow-y:scroll;
	overflow-x:hidden;
	background-color:#ebf2f8;
	color:#666; font-size:15px;
	text-align:right;
	float:right;
	position:fixed;
	right:10px;
	top: 135px;
	border: 1px solid #d3d7d9;
	border-radius:12px;

}


/* sync/play/pause/stop button styling */

.button {
	display: inline-block;
	float:left;
	margin:2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding: .5em 1em .55em;
	height:30px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}


/* timeline homepage class style */

.hline{
	position: fixed; left:160px; bottom: 10px; right: 10px; height:195px; overflow:hidden; border: 1px solid #d3d7d9; border-radius:12px;
}


/* timeline user page class style */

.userTimeline{
	z-index:99; display:block; position: fixed; bottom: 10px; left: 160px; margin-right:10px; visibility:visible;
}

.userImage{
	border:1px solid grey; border-radius:7px; margin-right: 3px; width:50px; height: 50px; opacity: 0.7; filter:alpha(opacity=70);
}

.userImage:hover {
    opacity: 1.0;
    filter:alpha(opacity=100);
	z-index:50;
}

.enlarge{
position: relative;
z-index: 0;
}

.enlarge:hover{
background-color: transparent;
z-index: 50;
}

.enlarge span{ 
position: absolute;
background-color: #ebf2f8;
border: 1px solid gray;
border-radius:7px;
visibility: hidden;
z-index:100;
color: black;
text-decoration: none;


}

.enlarge span img{
border-width: 0;
padding: 5px;
}

.enlarge:hover span{
visibility: visible;
right: -75px;
bottom:60px;
height:210px;
width:210px;
overflow:visible;
}
