<!doctype html>

{% load static %}



<html lang="en">
	<head>
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Interact with users recordings as they sync up in time and space">

    	<title>MDRS - Home</title>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
		<link rel="stylesheet" href="{% static "styles/side-menu.css" %}">
		<link rel="stylesheet" href="{% static "styles/map-styles.css" %}">
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcCsb4_1FhEOP4bYPwm10FV_bGhjHBBH0&sensor=true"></script>
		<script src="{% static "scripts/map-canvas.js" %}"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		<script type="text/javascript" src="{% static "build/js/storyjs-embed.js" %}"></script>
		<script type="text/javascript" src="{% static "scripts/tl.js" %}"></script>
		<script src="{% static "scripts/buzz.min.js" %}"></script>


    </head>
	<body>

    		{% include "navigation.html" %}

    		<div id="main"> 
    			<div class="content">
        			<div id="map-content" style="position: absolute; left: 0; top: 0;"></div>
					<div align="right" style = "position: fixed; bottom: 0; right: 0;">
					<div id="my-timeline"></div>
					</div>
         		</div>     
				
    		</div>
		</div>

		<script src="{% static "scripts/ui.js" %}"></script>

		<script language="javascript">
    		    function autoResizeDiv()
        		{
					var mheight = (window.innerHeight-301) +'px'; //-301
					var mwidth = (window.innerWidth) +'px';
					var tlwidth = (window.innerWidth - 150) + 'px';
            	    document.getElementById('map-content').style.height = mheight;
		    document.getElementById('map-content').style.width = mwidth;
					document.getElementById('my-timeline').style.width = tlwidth;
        		}
        		window.onresize = autoResizeDiv;
        		autoResizeDiv();
		</script>
        
	</body>
    
</html>
