<!doctype html>

{% load static %}

<html lang="en">
	<head>
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">

    	<title>MDRS - Home</title>

		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
		<link rel="stylesheet" href="{% static "styles/side-menu.css" %}">
		<link rel="stylesheet" href="{% static "styles/map-styles.css" %}">

		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcCsb4_1FhEOP4bYPwm10FV_bGhjHBBH0&sensor=true"></script>
		<script src="{% static "scripts/map-canvas.js" %}"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		<script src="{% static "scripts/buzz.min.js" %}"></script>


    </head>
	<body>

		<div id="layout">
    		<!-- Menu toggle -->
    		<a href="#menu" id="menuLink" class="menu-link">
        		<!-- Hamburger icon -->
        		<span></span>
    		</a>

    		<div id="menu">
        		<div class="pure-menu pure-menu-open">
            		<a class="pure-menu-heading" href="http://purecss.io/">MDRS</a>

            		<ul>
                		<li class="pure-menu-selected">
                			<a href="{% url 'index' %}">Home</a>
                		</li>
                		<li><a href="{% url 'user' %}">User</a></li>

                		<li class="menu-item-divided">
                    		<a href="{% url 'settings' %}">Settings</a>
                		</li>
                        <li class="menu-item-divided">
                            <a href="{% url 'register' %}">Register</a>
                        </li>
                        <li class="menu-item-divided">
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'submit' %}">Submit</a>
                        </li>
            		</ul>
        		</div>

</div>

    		<div id="main"> 
    			<div class="content">
        			<div id="map-content">
        			</div>
         		</div>     
    		</div>
		</div>

		<script src="/static/scripts/ui.js"></script>

		<script language="javascript">
    		    function autoResizeDiv()
        		{
            		document.getElementById('map-content').style.height = window.innerHeight +'px';
					document.getElementById('map-content').style.width = window.innerWidth +'px';
        		}
        		window.onresize = autoResizeDiv;
        		autoResizeDiv();
		</script>
        
	</body>
    
</html>
