<!doctype html>

{% load static %}

<html lang="en">
	<head>
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">

    	<title>MDRS - Login</title>

		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
		<link rel="stylesheet" href="{% static "styles/side-menu.css" %}">
    
    </head>
	<body>

		<div id="layout">
    		<!-- Menu toggle -->
    		<a href="#menu" id="menuLink" class="menu-link">
        		<!-- Hamburger icon -->
        		<span></span>
    		</a>

    		<div id="menu">
        		<div class="pure-menu pure-menu-open">
            		<a class="pure-menu-heading" href="{% url 'index' %}">MDRS</a>

            		<ul>
                		
                		<li><a href="{% url 'index' %}">Home</a></li>
                		<li><a href="{% url 'user' %}">User</a></li>

                		<li class="menu-item-divided pure-menu-selected">
                    		<a href="{% url 'settings' %}">Settings</a>
                		</li>
				<li><a href="{% url 'submit' %}">Submit</a></li>
            		</ul>
        		</div>
    		</div>

        <div id="main"> 
            <div class="header">
                <h1>Login</h1>
            </div>

            <div class="content">
                <h2 class="content-subhead">Login</h2>
                <form id="login_form" method="post" action="/webapp/login/">
                    {% csrf_token %}
                    Username: <input type="text" name="username" value="" size="50" />
                    <br />
                    Password: <input type="password" name="password" value="" size="50" />
                    <br />
                    <input type="submit" value="submit" />
                </form>
            </div>     
        </div>
        </div>

		<script src="{% static "scripts/ui.js" %}"></script>
        
	</body>
    
</html>
