<!doctype html>

{% load static %}

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Interact with users recordings as they sync up in time and space">

<title>MDRS - Mobile Upload</title>

<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
<link rel="stylesheet" href="{% static "styles/side-menu.css" %}">

</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    {% include "navigation.html" %}

    <div id="main">
        <div class="content">
            <form class="pure-form pure-form-stacked" action="." method="post" enctype="multipart/form-data">
                <br>
                <legend>Files</legend>
                {% csrf_token %}
                <br>
                JSON: <input type="file" name="json_file" class="pure-button" size="150" max="150">
                <br>
                <br>
                3GP: <input type="file" name="threeGP_file" class="pure-button" size="150" max="150">
                </p>
                <input type="submit" class="pure-button pure-input-1-2 pure-button-primary" value="Submit">
            </form>
        </div>
    </div>     
</div>
        </div>

        <script src="{% static "scripts/ui.js" %}"></script>

    </body>

</html>
