<!doctype html>

{% load static %}

<html lang="en">
	<head>
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Interact with users recordings as they sync up in time and space">

    	<title>MDRS - Registration</title>

        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
		<link rel="stylesheet" href="{% static "styles/side-menu.css" %}">
    
    </head>


	<body>

		<div id="layout">
    		<a href="#menu" id="menuLink" class="menu-link">
        		<span></span>
    		</a>

    		{% include "navigation.html" %}

        <div id="main"> 
            <div class="header">
                <h1>Registration</h1>
            </div>

            <div class="content">
                <h2 class="content-subhead">Registration</h2>
                {% if registered %}
                <h3>Thank you for Registering!</h3>
                <a href="{% url 'index' %}">Return Home</a>
                {% else %}
                <h3>Please fill in the fields below:</h3>
                <form id="user_form" class="pure-form pure-form-stacked" method="post" action="/webapp/register/" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form.as_p }}

                    <input class="pure-button pure-input-1-2 pure-button-primary" type="submit" name="submit" value="Register" />
                </form>
                {% endif %}
            </div>     
        </div>
        </div>

		<script src="{% static "scripts/ui.js" %}></script>
        
	</body>
    
</html>
