<!doctype html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">

    	<title>MDRS - Home</title>

		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
		<link rel="stylesheet" href="/static/side-menu.css">
        <link rel="stylesheet" href="/static/map-styles.css">
    
    </head>
	<body>

		<div id="layout">
    		<!-- Menu toggle -->
    		<a href="#menu" id="menuLink" class="menu-link">
        		<!-- Hamburger icon -->
        		<span></span>
    		</a>

    		<div id="menu">
        		<div class="pure-menu pure-menu-open">
            		<a class="pure-menu-heading" href="http://purecss.io/">MDRS</a>

            		<ul>
                		
                		<li><a href="{% url 'index' %}">Home</a></li>
                		<li class="pure-menu-selected">
                        	<a href="{% url 'user' %}">User</a>
                        </li>

                		<li class="menu-item-divided">
                    		<a href="{% url 'settings' %}">Settings</a>
                		</li>
				<li><a href="{% url 'submit' %}">Submit</a></li>
            		</ul>
        		</div>
    		</div>

    		<div id="main"> 
            <div class="header">
            <h1>User</h1>
        </div>
    			<div class="content">
                	<div id="my-timeline"><iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AhNFacUlEZnudFNCMXVJWFZHd2xLNS05el9VakJkYlE&font=Bevan-PotanoSans&maptype=TERRAIN&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe></div>
        			</div>
         		</div>     
    		</div>
		</div>

		<script src="scripts/ui.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="build/js/storyjs-embed.js"></script>
    <script language="javascript">
    		    function autoResizeDiv()
        		{
            		document.getElementById('map-content').style.height = window.innerHeight +'px';
					document.getElementById('map-content').style.width = window.innerWidth +'px';
        		}
        		window.onresize = autoResizeDiv;
        		autoResizeDiv();
		</script>
	</body>
    
</html>
