<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>

  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Interact with users recordings as they sync up in time and space">

  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <link rel="stylesheet" href="{% static "styles/side-menu.css" %}">
  <link rel="stylesheet" href="{% static "styles/user.css" %}">
  
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="{% static "scripts/buzz.min.js" %}"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcCsb4_1FhEOP4bYPwm10FV_bGhjHBBH0&sensor=true"></script>
  <script src="{% static "scripts/map-canvas.js" %}"></script>
  <script type="text/javascript" src="{% static "scripts/syncSound.js" %}"></script>
  <script type="text/javascript" src="{% static "build/js/storyjs-embed.js" %}"></script>
  <script type="text/javascript" src="{% static "scripts/tl.js" %}"></script>
  
  <title>MDRS - User</title>

</head>


<body>

<div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
    </a>

    {% include "navigation.html" %}

    <div id="main"> 
        <div class="header">

            {% if user.is_authenticated %}
            <h1>{{ user.username }}</h1>
			
			<script>
			setUser("{{ user.username }}");
            </script> 
			
            {% if user.is_superuser %}
			
            {% endif %}
            {% else %}
            <h1>User</h1>
            {% endif %}
            
            </div>
            
            {% if user.is_authenticated %}
            
            
			<!-- if the user is logged in, initialize the timeline and user recording side list -->
			<div id="info" class="Ucontainer">
			
			
			<!-- initialize the map -->
			<div class="Uinfo" id="map-content" style="height:200px;">
			
			
			
			</div>
			
			
			<div class="Uinfo">
			
			<span style="float:left;">
			
			<b>Show:</b>
			
			</span> 
			
			<b>User Recordings</b>
			
			<input type="radio" name="recordings" id="user" value="user" onclick="display();" checked/>
			
			<b>All Recordings</b>
			
			<input type="radio" name="recordings" id="all" value="all" onclick="display();" />
			
			<br>
			<br>
			
			<!-- Initialize synchronization play/ pause button, the stop button, and timeline -->
			Select all:<input type='checkbox' name='rec' id='-1' onclick='selectRec();'/>
			
			<input type='button' class='blue button' onclick='play();' value='Play/Pause Sync'/>
			<input type='button' class='blue button' onclick='stop();' value='Stop'/>

			<div id="uRecs"></div>
			</div>
			
			</div>
		
		<div class="userTimeline">
			<div id="my-timeline" align="right">
					</div>
		</div>

			
            {% else %}
           <div align = "center">
           <h3>Please <a href={% url 'register' %}>Register</a> or <a href={% url 'login' %}>Login</a> to proceed</h3>
           </div>
            {% endif %}	
            
           </div>
        </div>
        </body>

        </html>
